body {
  /* background-color: cornflowerblue;
  background-color: steelblue;

  background-image: url("./assets/bg-mobile.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover; */

  /* Agrupar as propriedades do acima. Sequencia:
    background : color image repeat position/size */
  background :
    steelblue
    url("./assets/bg-mobile.jpg")
    no-repeat
    top center
    /cover;
}

#container {
  width: 360px;
  height: 712px;
  margin: auto;

  /* borda temporária */
  border: 1px solid blue;
}

#profile {
  text-align: center;
}

#profile img {
  width: 112px;
}