* {
  /* resetar propriedades padrões do documento */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --text-color: white;
  --bg-url: url(./assets/bg-mobile.jpg);
  --stroke-color: rgba(255, 255, 255, 0.5);
  --surface-color: rgba(255, 255, 255, 0.1);
  --surface-color-hover: rgba(255, 255, 255, 0.05);
  --highlight-color: rgba(255, 255, 255, 0.2);
  --switch-bg-url: url(./assets/moon-stars.svg);
}

.light {
  --text-color: black;
  --bg-url: url(./assets/bg-mobile-light.jpg);
  --stroke-color: rgba(0, 0, 0, 0.5);
  --surface-color: rgba(0, 0, 0, 0.06);
  --surface-color-hover: rgba(0, 0, 0, 0.02);
  --highlight-color: rgba(0, 0, 0, 0.1);
  --switch-bg-url: url(./assets/sun.svg);
}

body {
  /* Definir várias propriedades: background : image repeat position / size */
  background: var(--bg-url) no-repeat top center / cover;
  height: 100vh;
}

/* Seletor universal - Todos os elementos dentro vão assumir essa fonte */
body * {
  font-family: "Inter", sans-serif;
  color: var(--text-color);
}

#container {
  width: 100%;
  max-width: 588px;
  margin: 56px auto auto;
  padding: 0 24px;
}

/* profile */
#profile,
#header-menu,
#certificates-list {
  text-align: center;
  padding: 24px;
}

#profile img {
  width: 112px;
}

#profile p {
  font-weight: 500;
  line-height: 24px;
  margin-top: 8px;
}

#header-menu {
  font-size: 30px;
  font-weight: 1000;
  line-height: 30px;
  margin-top: 8px;
}

#certificates-list img {
  width: 100%;
}

/* switch */
#switch {
  /* permite que os elementos filhos "absolute" estejam limitados em relação ao pai */
  position: relative;
  width: 64px;

  margin: 4px auto;
}

#switch button {
  width: 32px;
  height: 32px;
  background: white var(--switch-bg-url) no-repeat center;
  border: 0;
  border-radius: 50%;

  /* "absolute" libera as propriedades a baixo e p  ermite trabalhar com as camadas ajustando a posição e sobreposição dos elementos
     É absoluto relativo ao pai */
  position: absolute;
  z-index: 1;
  /* Alterar a posição "TOP" original do elemento no eixo Y (altura) */
  transform: translateY(-50%);
  /* Definir, com base na nova posição original o centro "absoluto" */
  top: 50%;

  animation: switch-slide-def 0.2s;
}

/* Uma maneira de validar a mudança de posição do switch */
.light #switch button {
  animation: switch-slide-light 0.2s forwards;
}

#switch button:hover {
  outline: 8px solid var(--highlight-color);
}

#switch span {
  display: block;
  width: 64px;
  height: 24px;
  background: var(--surface-color);
  border: 1px solid var(--stroke-color);
  border-radius: 9999px;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}

/* Lista de links */
ul {
  list-style: none;

  display: flex;
  flex-direction: column;
  gap: 16px;

  padding: 24px 0;
}

ul li a {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 16px 24px;

  background: var(--surface-color);
  border: 1px solid var(--stroke-color);
  border-radius: 8px;

  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);

  text-decoration: none;
  font-weight: 500;

  transition: all 0.3s;
}

/* pseudo-selector */
ul li a:hover {
  background: var(--surface-color-hover);
  border: 1.5px solid var(--text-color);
}

/* icones social media */
#social-links {
  display: flex;
  justify-content: center;
  gap: 1px;

  padding: 24px 0;
  font-size: 28px;
}

#social-links a {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 14px;
  border-radius: 50%;

  transition: background 0.3s;
}

#social-links a:hover {
  background: var(--highlight-color);
}

footer {
  padding: 24px 0;
  text-align: center;
  font-size: 14px;
}

/* media queries with "at role (@)" */
@media (min-width: 700px) {
  :root {
    --bg-url: url(./assets/bg-desktop.jpg);
  }

  .light {
    --bg-url: url(./assets/bg-desktop-light.jpg);
  }
}

/* Criar animações */
@keyframes switch-slide-light {
  from {
    left: 0;
  }
  to {
    left: 50%;
  }
}

@keyframes switch-slide-def {
  from {
    left: 50%;
  }
  to {
    left: 0;
  }
}
